/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.page {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .page--1 {
    transition: width .2s ease-out;
    z-index: 2;
    background: #fff;
    color: #000000; }
  .page--2 {
    color: #ffffff;
    background: #000; }

.text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17vh;
  line-height: 20vh;
  position: absolute;
  z-index: 10;
  white-space: nowrap;
  transition: transform .2s ease-out; }
  .text--1 {
    left: 50px;
    bottom: 60%; }
  .text--2 {
    left: 40vw;
    bottom: 40%; }
  .text--3 {
    left: 10vw;
    bottom: 20%; }
  .text--4 {
    left: 55vw;
    bottom: 20%; }
  .text--5 {
    left: 60vw;
    bottom: 0; }

@media screen and (max-width: 600px) {
  .text {
    font-size: 50px; }
    .text--1 {
      left: 10px; } }

.line {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background: #ccc; }
  .line--1 {
    bottom: 20%; }
  .line--2 {
    bottom: 60%; }
  .line--3 {
    bottom: 40%; }

.part {
  position: absolute;
  z-index: 5;
  width: 20vh;
  height: 20vh;
  background: url("../images/bg.png") no-repeat center center/cover fixed; }
  .part--1 {
    bottom: 40%;
    left: 50px; }
  .part--2 {
    left: 60vw;
    height: 35vh;
    bottom: 60%; }
  .part--3 {
    left: 70vw;
    bottom: 20%;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    clip-path: inset(0px 0 0 50%); }
  .part--4 {
    bottom: 20%;
    left: 40vw;
    border-radius: 50%; }

.header {
  position: absolute;
  z-index: 30;
  color: #000000;
  left: 50px;
  top: 20px;
  right: 50px; }
  .header--light {
    color: #ffffff; }
  .header__logo svg {
    display: block;
    width: 120px;
    height: 120px; }

@media screen and (max-width: 600px) {
  .header {
    left: 10px;
    right: 10px; }
    .header__logo svg {
      width: 60px;
      height: 60px; } }
