.page {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &--1 {
    transition: width .2s ease-out;
    z-index: 2;
    background: #fff;
    color: #000000;
  }

  &--2 {
    color: #ffffff;
    background: #000;
  }
}
