<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script defer src="js/js.js"></script>
    <link rel="stylesheet" href="styles/main.scss">
</head>
<body>
    <div style="height: 400vh;"></div>

    <div id="page-1" class="page page--1">
        <div class="text text--1">ANY CRAZY</div>
        <div class="text text--2">IDEA</div>
        <div class="text text--3">IS</div>
        <div class="text text--4">EASY</div>
        <div class="text text--5">TO SOLVE</div>
    </div>
    <div class="page page--2">
        <div class="text text--1">ANY CRAZY</div>
        <div class="text text--2">IDEA</div>
        <div class="text text--3">IS</div>
        <div class="text text--4">EASY</div>
        <div class="text text--5">TO SOLVE</div>
    </div>

</body>
</html>

